<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        hola
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        mundo
      </div>
    </div>
  </div>
</div>
