<p>Aqui vemos el detalle de un destino viaje!
  <br>
  {{destino.id}}
  <br>
  {{destino.nombre}}
</p>
<mgl-map [style]="style" [zoom]="2">
 <mgl-marker [lngLat]="[-75.3748,10.73747]">
   <div onclick="alert('hola')"
   class="marker"
   >
    hola mundo!
   </div>
 </mgl-marker>
</mgl-map>
