<form [formGroup]="fg" (submit)="guardar(fg.controls['nombre'].value,fg.controls['url'].value)">

      <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input type="text" class="form-control" placeholder="ingrese el nombre" id="nombre"
         [formControl]="fg.controls['nombre']">
         <ul>
           <li *ngFor="let r of searchResult">{{r}}</li>
         </ul>
         <div *ngIf="fg.controls['nombre'].hasError('required')" >nombre requerido!</div>
         <div *ngIf="fg.controls['nombre'].hasError('invalidNombre')" >nombre invalido!</div>
         <div *ngIf="fg.controls['nombre'].hasError('minLongNombre')" >nombre debe tener al menos {{minLongitud}} !</div>

      </div>
      <div class="form-group">
        <label for="url">Url:</label>
        <input type="url" class="form-control" placeholder="ingrese el url" id="url"
         [formControl]="fg.controls['url']">
      </div>
      <button type="submit" class="btn btn-primary" *ngIf="fg.valid">guardar</button>

    </form>
