<div class="page-header">
<nav class="navbar navbar-dark  bg-dark mb-2">
    <div style="float: right;">
      <select (change)="translate.use($event.target.value)">
        <option value="es">Español</option>
        <option value="fr">France</option>
        <option value="en">English</option>
      </select>
    </div>
  <div class="container">
    <h1 class="text-center" style="color: white;">{{title}}</h1>
    <div class="navbar-link">
      <a [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</a>
      <a [routerLink]="['/destinos']" class="ml-1" >Destinos</a>
    </div>
  </div>

<div class="container content">
  <div class="row">
    <h1>
      {{ title }} <b [innerHTML]="'HOLA' | translate"></b>
    </h1>
  </div>

</div>
</nav>

<router-outlet></router-outlet>
<hr class="md-5">
fecha:{{time | async}}
